MONGO_URI=mongodb://<username>:<password>@<host>:<port>/?tls=false
MONGO_DB=your_database_name
MONGO_COLLECTION=your_collection_name
MONGO_USERNAME=your_username
MONGO_PASSWORD=your_password
JWT_SECRET=your_secret_key
JWT_EXPIRATION=your_jwt_expiration
JWT_REFRESH_EXPIRATION=your_jwt_refresh_expiration
JWT_REFRESH_SECRET=your_refresh_token_secret

MAX_IMAGE_SIZE=5000000

HENTORY_API_URL=https://api.hentory.io/seamless
HENTORY_USERNAME=your_hentory_username
HENTORY_PASSWORD=your_hentory_password
HENTORY_WHITELIST_IPS=52.77.44.100,54.179.77.241,52.74.201.149,47.131.243.144
HENTORY_SIGNATURE_KEY=your_hentory_signature_key

PROVIDER_AUTH_USERNAME=your_provider_username
PROVIDER_AUTH_PASSWORD=your_provider_password